name: iOS Build & Upload

on:
  push:
    branches:
      - master

jobs:
  build-ios:
    runs-on: macos-latest
    env:
      FLUTTER_ROOT: /Users/runner/hostedtoolcache/flutter/stable-3.41.1-arm64
      PUB_CACHE: /Users/runner/.pub-cache

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.41.1'
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Debug keys
        run: |
          echo "Key ID: '${{ secrets.APP_STORE_CONNECT_KEY_ID }}'"
          echo "Issuer ID: '${{ secrets.APP_STORE_CONNECT_ISSUER_ID }}'"
          

      - name: Prepare iOS certificate
        run: |
          mkdir -p /tmp/certs
          echo "${{ secrets.APP_STORE_CONNECT_PRIVATE_KEY }}" | tr -d '\r' > /tmp/certs/AuthKey.p8

      - name: Build IPA
        run: |
          cd ios
            xcodebuild \
            -workspace Runner.xcworkspace \
            -scheme Runner \
            -configuration Release \
            -archivePath build/Runner.xcarchive \
            archive \
            -allowProvisioningUpdates \
            -authenticationKeyID ${{ secrets.APP_STORE_CONNECT_KEY_ID }} \
            -authenticationKeyIssuerID ${{ secrets.APP_STORE_CONNECT_ISSUER_ID }} \
            -authenticationKeyPath /tmp/certs/AuthKey.p8

      - name: Export IPA
        run: |
          cd ios
          xcodebuild -exportArchive \
            -archivePath build/Runner.xcarchive \
            -exportPath build/Runner.ipa \
            -exportOptionsPlist ExportOptions.plist \
            -allowProvisioningUpdates \
            -authenticationKeyID ${{ secrets.APP_STORE_CONNECT_KEY_ID }} \
            -authenticationKeyIssuerID ${{ secrets.APP_STORE_CONNECT_ISSUER_ID }} \
            -authenticationKeyPath /tmp/certs/AuthKey.p8

      - name: Upload to TestFlight
        run: |
          cd ios
          xcrun altool \
            --upload-app \
            -f build/Runner.ipa \
            -t ios \
            -apiKey ${{ secrets.APP_STORE_CONNECT_KEY_ID }} \
            -apiIssuer ${{ secrets.APP_STORE_CONNECT_ISSUER_ID }}
