name: Build & Upload iOS App to TestFlight

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build_ios:
    runs-on: macos-latest
    env:
      APP_STORE_CONNECT_KEY_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_ID }}
      APP_STORE_CONNECT_ISSUER_ID: ${{ secrets.APP_STORE_CONNECT_ISSUER_ID }}
      APP_STORE_CONNECT_PRIVATE_KEY: ${{ secrets.APP_STORE_CONNECT_PRIVATE_KEY }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
           flutter-version: "3.41.1"
           channel: stable

      - name: Install dependencies
        run: flutter pub get

      - name: Increment build number
        id: version
        run: |
          BUILD_NUMBER=$(grep 'version:' pubspec.yaml | sed 's/.*+\([0-9]*\)/\1/')
          BUILD_NUMBER=$((BUILD_NUMBER + 1))
          sed -i '' -E "s/version: ([0-9]+\.[0-9]+\.[0-9]+)\+[0-9]+/version: \1+$BUILD_NUMBER/" pubspec.yaml
          echo "build_number=$BUILD_NUMBER" >> $GITHUB_OUTPUT

      - name: Build iOS Release IPA
        run: flutter build ipa --export-method app-store --build-number ${{ steps.version.outputs.build_number }}

      - name: Create App Store Connect API key file
        run: echo "${{ env.APP_STORE_CONNECT_PRIVATE_KEY }}" | base64 --decode > AuthKey.p8

      - name: Upload to TestFlight
        run: |
          gem install fastlane
          fastlane pilot upload \
            --ipa build/ios/ipa/Runner.ipa \
            --api_key_path AuthKey.p8 \
            --api_key_id ${{ env.APP_STORE_CONNECT_KEY_ID }} \
            --issuer_id ${{ env.APP_STORE_CONNECT_ISSUER_ID }}
