name: iOS Build & Upload to App Store

on:
  push:
    branches:
      - master

jobs:
  build_ios:
    runs-on: macos-latest
    env:
      FLUTTER_ROOT: /Users/runner/hostedtoolcache/flutter/stable
      APP_IDENTIFIER: com.spreein.app
      APP_NAME: Runner

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.41.1'

      - name: Install dependencies
        run: flutter pub get

      - name: Prepare AuthKey
        run: |
          mkdir -p ~/private_keys
          echo "${{ secrets.APP_STORE_CONNECT_PRIVATE_KEY }}" > ~/private_keys/AuthKey.p8
  

      - name: Build & Archive IPA with automatic signing
        run: |
          cd ios
          xcodebuild -workspace Runner.xcworkspace \
            -scheme Runner \
            -configuration Release \
            -archivePath build/Runner.xcarchive \
            archive \
            -allowProvisioningUpdates \
            -apiKey ${{ secrets.APP_STORE_CONNECT_KEY_ID }} \
            -apiIssuer ${{ secrets.APP_STORE_CONNECT_ISSUER_ID }} \
            -authenticationKeyPath ~/private_keys/AuthKey.p8

      - name: Export IPA
        run: |
          xcodebuild -exportArchive \
            -archivePath ios/build/Runner.xcarchive \
            -exportPath ios/build/Runner.ipa \
            -exportOptionsPlist ios/ExportOptions.plist \
            -allowProvisioningUpdates \
            -authenticationKeyID ${{ secrets.APP_STORE_CONNECT_KEY_ID }} \
            -authenticationKeyIssuerID ${{ secrets.APP_STORE_CONNECT_ISSUER_ID }} \
            -authenticationKeyPath ~/private_keys/AuthKey.p8

      - name: Upload to App Store Connect
        run: |
          IPA_PATH=ios/build/Runner.ipa/Runner.ipa
          echo "Uploading IPA: $IPA_PATH"
          xcrun altool --upload-app \
            --type ios \
            --file "$IPA_PATH" \
            --apiKey ${{ secrets.APP_STORE_CONNECT_KEY_ID }} \
            --apiIssuer ${{ secrets.APP_STORE_CONNECT_ISSUER_ID }} \
            --apiKeyPath ~/private_keys/AuthKey.p8
