name: iOS Build & Upload TestFlight

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: macos-latest

    steps:
      # 1️⃣ Checkout code
      - name: Checkout
        uses: actions/checkout@v4

      # 2️⃣ Setup Flutter
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.41.1'
          channel: 'stable'

      # 3️⃣ Install dependencies
      - name: Install dependencies
        run: flutter pub get

      # 4️⃣ Create absolute path for App Store Connect API Key
      - name: Create App Store Connect API Key
        run: |
          mkdir -p /tmp/certs
          echo "${{ secrets.APP_STORE_CONNECT_PRIVATE_KEY }}" > /tmp/certs/AuthKey.p8

      # 5️⃣ Build Flutter iOS app (no codesign yet)
      - name: Build iOS
        run: flutter build ios --release --no-codesign

      # 6️⃣ Archive with signing using API Key
      - name: Archive iOS
        run: |
          cd ios
          xcodebuild \
            -workspace Runner.xcworkspace \
            -scheme Runner \
            -configuration Release \
            -archivePath build/Runner.xcarchive \
            archive \
            -allowProvisioningUpdates \
            -authenticationKeyID ${{ secrets.APP_STORE_CONNECT_KEY_ID }} \
            -authenticationKeyIssuerID ${{ secrets.APP_STORE_CONNECT_ISSUER_ID }} \
            -authenticationKeyPath /tmp/certs/AuthKey.p8

      # 7️⃣ Export IPA
      - name: Export IPA
        run: |
          cd ios
          xcodebuild -exportArchive \
            -archivePath build/Runner.xcarchive \
            -exportOptionsPlist ExportOptions.plist \
            -exportPath build


      # 8️⃣ Upload to TestFlight
      - name: Upload to TestFlight
        uses: apple-actions/upload-testflight-build@v1
        with:
          app-path: ios/build/*.ipa
          issuer-id: ${{ secrets.APP_STORE_CONNECT_ISSUER_ID }}
          api-key-id: ${{ secrets.APP_STORE_CONNECT_KEY_ID }}
          api-private-key: ${{ secrets.APP_STORE_CONNECT_PRIVATE_KEY }}
