name: Build and Upload iOS App

on:
  push:
    branches:
      - master

jobs:
  build-ios:
    runs-on: macos-latest

    env:
      FLUTTER_ROOT: /Users/runner/hostedtoolcache/flutter/stable-3.41.1-arm64
      LC_ALL: en_US.UTF-8

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: 3.41.1

      - name: Install dependencies
        run: flutter pub get

      - name: Build Flutter IPA
        run: |
          flutter build ipa --release --no-codesign
        working-directory: ./

      - name: Upload to App Store Connect
        run: |
          xcrun altool --upload-app \
            --type ios \
            --file build/ios/ipa/Runner.ipa \
            --apiKey ${{ secrets.APP_STORE_CONNECT_KEY_ID }} \
            --apiIssuer ${{ secrets.APP_STORE_CONNECT_ISSUER_ID }}
